# ---------
# STM32CubeIDE / Eclipse 配置文件
# ---------
.cproject
.project
.mxproject
.settings/
.metadata/
*.launch
*.log

# ---------
# CubeIDE / GCC 编译输出
# ---------
/Debug/
/Release/
/build/
*.o
*.d
*.dep
*.elf
*.bin
*.hex
*.map
*.lst
*.list
*.su
*.swo
*.swp

# ---------
# Windows / macOS 系统文件
# ---------
Thumbs.db
.DS_Store

# ---------
# 一般可执行文件
# ---------
*.exe
*.out
*.app

# ---------
# 如果希望让其他人能直接导入工程，保留 .ioc
# 如果不需要，可以取消注释下面一行
# *.ioc
